<section class="section">
    <div class="container">
        <div class="columns is-desktop is-justify-content-center">
            <div class="column is-8-desktop">
                <div class="p-6 shadow rounded content">
                    <h2 class="section-title">Edit Capsule</h2>
                    <% console.log('yoooooooooooooooo',capsule.id) %>
                    <form method="POST" action="/capsules/edit/<%= capsule.id %>/?_method=PUT">
                        <div class="columns is-multiline">
                            <div class="form-group column is-12">
                                <label for="type">Type</label>
                                <select id="type" class="input custom-select" name="type" required>
                                    <option selected disabled><%= capsule.type %></option>
                                    <option value="Dragon 1.0">Dragon 1.0</option>
                                    <option value="Dragon 2.0">Dragon 2.0</option>
                                </select>
                            </div>
                            <div class="form-group column is-12">
                                <label for="reuse_count">Reuse Count</label>
                                <input value="<%= capsule.reuse_count %>" type="text" class="input" id="reuse_count"
                                    name="reuse_count" placeholder="<%= capsule.reuse_count %>" required>
                            </div>
                            <div class="form-group column is-12">
                                <label for="water_landings">Water Landings</label>
                                <input value="<%= capsule.water_landings %>" type="text" class="input"
                                    id="water_landings" name="water_landings"
                                    placeholder="<%= capsule.water_landings %>" required>
                            </div>
                            <div class="form-group column is-12">
                                <label for="last_update">Last Update</label>
                                <input value="<%= capsule.last_update %>" type="text" class="input" id="last_update"
                                    name="last_update" placeholder="<%= capsule.last_update %>" required>
                            </div>
                            <div class="form-group column is-12">
                                <label for="serial">Serial</label>
                                <input value="<%= capsule.serial %>" type="text" class="input" id="serial" name="serial"
                                    placeholder="<%= capsule.serial %>" value="<%= capsule.serial %>" required>
                            </div>
                            <div class="form-group column is-12" style="display: none;">
                                <label for="id">id</label>
                                <input value="<%= capsule.id %>" type="text" class="input" id="id" name="id"
                                    placeholder="<%= capsule.id %>" value="<%= capsule.id %>" required>
                            </div>
                            <div class="column is-12">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <a href="/capsules/<%= capsule.id %>" class="btn btn-danger">Cancel</a>

                            </div>
                            <div class="column is-12">

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>